.hex {
  position: relative;
  display: inline-block;
}

.hex:nth-child(odd) {
  top: 70px;
}

.hex svg path{
  fill: red;
  stroke: black;
  stroke-width: 3px;
}

#hex-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
